<div class="card">
  <div class="header">
    <div class="user-logo">{{ lead?.contactFirstName[0] }}</div>
    <div class="user-info">
      <span class="user-name">{{ lead?.contactFirstName }}</span>
      <span class="job-date">{{ lead?.dateCreated | date: 'MMMM d y @ h:mm a' }}</span>
    </div>
  </div>

  <hr class="divider" />

  <div class="job-info">
    <span class="location">
      <i class="fas fa-map-marker-alt icon"></i>
      {{ lead?.suburb }}
    </span>
    <span class="role">
      <i class="fas fa-briefcase icon"></i>
      {{ lead?.category }}
    </span>
    <span class="job-id">Job ID: {{ lead?.jobId }}</span>
  </div>

  <hr class="divider" />

  <div class="description">{{ lead?.description }}</div>

  <hr class="divider" />

  <div class="footer">
    <div class="actions">
      <button class="accept-btn" (click)="onAccept()">ACCEPT</button>
      <button class="decline-btn" (click)="onDecline()">DECLINE</button>
    </div>
    <span class="job-value">{{ lead?.price | currency }} <span class="label"> Lead Invitation</span></span>
  </div>
</div>